<div class="status-bar">
    <div style="text-align: center">
		<img src="https://pgnqdrjultom1827145.cdn.ntruss.com/img/26/92/2692b88849b4e1dfde7d3f059189ffdc54fc6e8e3900969870b2208911a01f80_v1.jpg">
		<h1>ABOUT ME</h1>
		<br>
		<a href="https://github.com/dain1403"><img src="https://ifh.cc/g/uIbGEg.png" width="80" height="80" ></a>
		<a href="https://github.com/dain1403"><img src="https://ifh.cc/g/Bxkdul.png" width="80" height="80"></a>
		<a href="https://github.com/dain1403"><img src="https://ifh.cc/g/VMI4j5.jpg" width="80" height="80"></a>
		<br><br>
		<h4 style="color: gray">안녕하세요<br><br></h4>
		<h6>Hong gildong</h6>
		<h6>da1505@naver.com</h6>
		<h6> Information and Communication Engineering </h6>
    </div>
</div>
