<!DOCTYPE html>
<html lang="ko">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=50cm, initial-scale=2">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  

</head>
<body border=yes>
<img src="/AI_Brain.jpg">
<div class="jumbotron text-LEFT">
  <background-image: url( "images/AI_Brain.png" );></background-image:>


  <p style="font-size: 40px; color:royalblue; font-family: 나눔스퀘어;font-weight: bolder;">
    이준영 소개 페이지</p>
  
  <p style="font-size: 25px; color:slateblue; font-family: 나눔스퀘어;">
     "  안녕하세요 이준영 소개 페이지입니다. 오늘도 행복한 하루 되세요~~ ^^ " </p> 
</div>
 
<div class="container">
  <div class="column">
   
    <div class="col-8", color=blue>
      <h3 style="font-size: 22px; color:slateblue; font-family: 나눔스퀘어; font-weight: bold;margin:0.5cm;">
        ☆ 간단 자기 소개 ☆</h3>

      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 1993.10.06 (만26세)</p>        
      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 이메일: joonleesky@gmail.com</p>
      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어; font-weight: 500;margin: auto;">
        ☆ 취미: 음악감상, 영화감상</p>
      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어; font-weight: 500;margin: auto;">
        ☆ 사는 곳: 세종특별자치시</p>
      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어; font-weight: 500;margin: auto;">
        ☆ 전화번호: 010-0000-0000</p>  
      
    </div>  
    
    <div class="col-8">
      <h3 style="font-size: 22px; color:slateblue; font-family: 나눔스퀘어;font-weight: bold;margin:0.5cm;">
        ☆ 학력 ☆</h3>
      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 대전보문고등학교 이과 (2009.03 ~ 2012.02) </p>
      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 국립한밭대학교 정보통신공학과 (2013.03 ~ 2015.02) </p>
      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 국립한밭대학교 </p>
            
    </div>
   
    <div class="col-6">
      <h3  style="font-size: 22px; color:slateblue; font-family: 나눔스퀘어;font-weight: bold;margin:0.5cm;">
      ☆ 어학 및 자격증 ☆ </h3>

      <p style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: bold;margin: auto;">
        ☆ 정보처리기사 한국산업인력공단 (2018.08.17) </p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight:500;margin: auto;">
        ☆ 정보처리기능사 한국산업인력공단 (2016.09.12)</p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 빅데이터전문가1급 한국자격검정평가진흥원 (2020.01.28)</p>

      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: bold;margin: auto;">
        ☆ 토익 815 (2019.09.28)</p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: bold;margin: auto;">
        ☆ 토익-스피킹 130(Lv6) (2019.03.13)  </p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 한국사능력검정평가 1급 -한국국사편찬위원회 (2020.02.21)</p>  
    </div>

    <div class="col-10">
      <h3 style="font-size: 22px; color:slateblue; font-family: 나눔스퀘어;font-weight: bold;margin: 0.5cm;">
        ☆ 교육 사항 ☆</h3>        
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: bold;margin: auto;">
        ☆ 산업융합형 인공지능 청년혁신가 양성-한국표준협회, 정보통신기획평가원 (2020.05.11 ~ 2020.11.13)   </p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: bold;margin: auto;">
        ☆ 청년 AI/빅데이터 전문가 양성-포스코인재창조원,포항공과대학교 (2019.04.08 ~ 2019.06.28)  </p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 청년 취업교육 및 기업실무형 교육-포스코인재창조원(2019.02.04 ~ 2019.02.28) </p>
      
    </div>
   
    <div class="col-6">
      <h3  style="font-size: 22px; color:slateblue; font-family: 나눔스퀘어Bold;font-weight: bold;margin:0.5cm;">
        ☆ 사회경험 ☆ </h3>        
      
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 세이브존 보안요원 (2012.12~2013.03)</p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 세이브존 존앤존피자 (2013.03~2015.09)</p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 세이브존 존앤존피자 (2017.10~2019.02)</p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 이니스프리 (2019.03~2020.01)</p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 이니스프리 (2019.03~2020.01)</p>
      <p  style="font-size: 20px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        </p>
      <p  style="font-size: 18px; color:black; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 이니스프리 (2019.03~2020.01)</p>
                
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center fixed-bottom">
            <span class="navbar-text-LEFT">
                Copyright &copy; 2020 AI 병아리
            </span>
        </nav>
    </div> 
    </div>
  
  </div>
</div>

</body>
</html>