{% extends "base.html" %}
{% block main %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="row" style="padding-bottom: 10px;">
    <div class="col-4"><img src="https://blogpfthumb-phinf.pstatic.net/MjAyMDA3MjdfMjQx/MDAxNTk1ODQwMjc4ODUx.YodSFxWE8zfWiAD32EmJKlZEV-HRwcpq2jajYMc-fBgg.7GbYS2vudyYOoZzdvKgWKF-Wsi1Wh7NmO5xC9nnvP_kg.JPEG.joonlee10006/1.jpg" height="300"></div>
    <div class="col-8">
      <h3 style="font-size: 22px; color:indianred; font-family: 나눔스퀘어; font-weight: bold;margin:0.5cm;">
        ☆ 간단 자기 소개1 ☆</h3>

      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 1993.10.06 (만26세)</p>        
      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
        ☆ 이메일: joonleesky@gmail.com ,  joonlee10006@naver.com</p>
      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어; font-weight: 500;margin: auto;">
        ☆ 취미: 음악감상, 영화감상, 여행</p>
      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어; font-weight: 500;margin: auto;">
        ☆ 사는 곳: 세종특별자치시</p>
      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어; font-weight: 500;margin: auto;">
        ☆ 전화번호: 010-6342-6092</p>  
      
      <ul class="icons">
       <li><a href="https://www.instagram.com/j_joonleee/" img src='https://fontawesome.com/icons/instagram?style=brands'><span class="label">instagram : </span></a></li>
        <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어; font-weight: 500;margin: auto;">
          
          ☆ j_joonleee </p>
          <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어;font-weight: 500;margin: auto;">
          ☆ 한밭대학교 정보통신공학과 졸업 (2019.02)</p>    
    </div>
  </div>
  <div class="row">
    
    <div class="col-10">
      <h3 style="font-size: 22px; color:slateblue; font-family: 나눔스퀘어; font-weight: bold;margin:0.5cm;">
        ☆ 제가 갔던 여행지, 먹거리를 소개해볼까 합니다...바로 일본 인데요... ☆</h3>
    </div>
  </div>
  
  <div class="row">

<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
    
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href='https://ifh.cc/v-O2iunH' target='_blank'><img src='https://ifh.cc/g/O2iunH.jpg' border='0' width="300" height="300" ></a> 
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-iIkpBL' target='_blank'><img src='https://ifh.cc/g/iIkpBL.jpg' border='0' width="300" height="300" ></a>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-q9zRbI' target='_blank'><img src='https://ifh.cc/g/q9zRbI.jpg' border='0' width="300" height="300" ></a></div>
    </div>
    <div class="carousel-item">
      <a href='https://ifh.cc/v-WJkGzp' target='_blank'><img src='https://ifh.cc/g/WJkGzp.jpg' border='0' width="300" height="300" ></a></div>
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

  <div class="row" style="padding-bottom: 5%;">
    <p style="font-size: 40px; color:royalblue; font-family: 나눔스퀘어;font-weight: 500;margin: 1cm;">
      ☆ 그리고 제가 평상시에 자주 먹는 음식들입니다... </p>
      <div class="col-6"><a href='https://ifh.cc/v-AcLKmP' target='_blank'><img src='https://ifh.cc/g/AcLKmP.jpg' border='0' width="300" height="300" ></a></div>
      <div class="col-6"><a href='https://ifh.cc/v-oz4Ixz' target='_blank'><img src='https://ifh.cc/g/oz4Ixz.jpg' border='0' width="300" height="300" ></a></div>
      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어;font-weight: 800;margin: auto;">
        ☆ 숯불매운 닭날개 그리고 회... 이 음식들은 언제나 먹어도 JMT!!!!!!! </p>
      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어;font-weight: 800;margin: auto;">
          ☆ 아마 이 음식사진을 여러분이 볼때쯤이면 저녁 시간이 되지 않았나 하는 생각입니다... 여러분 맛저하세요!! </p>
      <p style="font-size: 20px; color:royalblue; font-family: 나눔스퀘어;font-weight: 800;margin: 1cm;">
            ☆ 그리고 마지막까지 힘내시라구! 귀여운 제 실친 개냥이 라티(인스타:Ra._.ti)를 소개할께요~ 많이 팔로우 해주세요 </p>
      <div class="col-4"><a href='https://ifh.cc/v-CLIM1K' target='_blank'><img src='https://ifh.cc/g/CLIM1K.jpg' border='0' width="300" height="300" ></a></div>
      <div class="col-4"><a href='https://ifh.cc/v-4BSpcN' target='_blank'><img src='https://ifh.cc/g/4BSpcN.jpg' border='0' width="300" height="300" ></a></div>
      <div class="col-4"><a href='https://ifh.cc/v-g5ej90' target='_blank'><img src='https://ifh.cc/g/g5ej90.jpg' border='0' width="300" height="300" ></a> </div>      
  </div>

  </div>
  
  {% endblock %}


